.search-bar {
    width: 220px;
    height: 50px;
    background-color: #393C49;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 10px;
    position: fixed;
    top: 24px;
    right: 24px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #889898;
    font-size: 16px;
    outline: none;
}

.search-bar #icon {
    color: white;
    padding: 5px;
    margin-right: 5px;
}